<!DOCTYPE html>
<html>
    <head>
        <title>1D Heightmap Examples: Generators</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css">
        <link href="css/style.css" media="all" type="text/css" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <a class="btn btn-default pull-right" href="https://github.com/unstoppablecarl/1d-heightmap">Github Repo</a>

            <h1>1D Heightmap Examples: Generators</h1>

            <p>
                <div class="btn-group" role="group">
                    <a class="btn btn-default" href="index.html">Home</a>
                    <a class="btn btn-default active" href="generators.html">Generators</a>
                    <a class="btn btn-default" href="transformations.html">Transformations</a>
                    <a class="btn btn-default" href="mountain-range-demo.html">Mountain Range Demo</a>
                </div>
            </p>

            <h3>General</h3>

            <div class="general-container row"></div>

            <h3>Perlin Interpolators</h3>
            <div class="row">
                <div class="col-sm-4 perlin-original-container">

                </div>
                <div class="col-sm-8">
                    <pre>
<code class="language-js">
oneDHeightmap.generate.perlin({
    length: 100,
    interpolator: oneDHeightmap.interpolate.smoothStep
});
</code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="perlin-container row"></div>

        <script type="text/template" class="example-template">
            <div class="example col-sm-4">
                <canvas width="<%= width %>" height="<%= height %>"/>
                <p><kbd><%= label %></kbd></p>
            </div>
        </script>

        <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/components/prism-javascript.min.js"></script>

        <script src="../dist/1d-heightmap.js"></script>
        <script src="js/presenter.js"></script>
        <script src="js/generators.js"></script>

        </body>
    </html>